*{
margin: 0px;
padding: 0px;
}

#gridwrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70px 550px 400px 400px 400px;
    grid-template-areas: 
    "he he"
    "div1 div1"
    "div2 div2"
    "div3 div3"
    "div4 div4"
}

/*header*/
header{
    grid-area: he;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

#areas{
width: 98%;
height: 100%;
align-items: center;
justify-content: space-around;
display: flex;
flex-direction: row;

}
/*middle_area*/
    #middle_area{
        width: 25%; 
        height: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #brand_name_container{
    }
    
    h1{
        color: white;
        font-size: 28px;
        font-family: ;

    }

/*right_area*/
    #right_area{
        width: 35%;
        height: 100%; 
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #interactive-logos-right-area{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 150px;
    }

    #interactive-logos-right-area li{
        list-style: none;
    }

    .interactive-logos-right{
        width: 20px;
    }
    #interactive-logos-right-area img:hover {
        opacity: 0.5;
    }

/*left_area*/
    #left_area{
        width: 35%; 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start; 
    }

    #left_container{
        display: flex;
        justify-content: flex-start;
        width: 380px;
    }

    #nav-links{
        display: flex;
        flex-direction: row;
        justify-content: space-around ;
        width: 100%;
    }

    #nav-links a {
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 0.1875rem;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-transform: uppercase;
    }
    #nav-links li {
        list-style: none;
    }
    #nav-links a:hover {
        opacity: 0.5;
    }

/*index*/
/*index_section_1*/
#index_section_1{
    grid-area: div1;
    border: 2px solid black ;
    overflow: hidden;
}

#index_section_1_background_image{
    background-image: url(../img/Index_bilder/sko1.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    transition: 0.4s;
}


/*
#index_section_1_background_image:hover{
transition: 0.4s;
transform: scale(1.02);
}
*/


/*index_section_2*/
#index_section_2{
    grid-area: div2;
    border: 2px solid black ;
    
}

/*index_section_3*/
#index_section_3{
    grid-area: div3;
    border: 2px solid black ;
}

/*index_section_4*/
#index_section_4{
    grid-area: div4;
    border: 2px solid black ;
}


@media screen and (max-width:900px) { 
  
    #gridwrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 70px 500px 400px 400px 400px;
        grid-template-areas: 
        "he he"
        "div1 div1"
        "div2 div2"
        "div3 div3"
        "div4 div4"
    }


/*left_area*/
    
    #burger div{
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        border-radius: 0%;
        transition: all 0.4s;
    }

    #burger {
        margin-right: 50px;
        cursor: pointer;
    }
    
    .burger_toggle #burger_line_2 {
    opacity: 0;

    }
    
    .burger_toggle #burger_line_1{
        transform: rotate(-45deg) translate(-5px, 6.3px);

    }
    
    .burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6.3px);
    }

    #left_container{
        position: absolute;
        top: 69px;
        left: -210px;
        background-color: black;
        width: 200px;
        height: 400px;
        
    }

    #nav-links{
        flex-direction: column;
        width: 100px;
        margin-left: 8px;
    }


    #left_container{
        transition: transform 0.3s;
    }
    .nav_active {
        transform: translateX(209px);
    }

/*middle_area*/
    #middle_area{
        width: 25%; 
        height: 100%; 
    }
    h1{
        color: white;
        font-size: 20px;
    }

/*right_area*/
    #interactive-logos-right-area{
        width: 90px;
    }

    .interactive-logos-right{
        width: 19px;
    }
    

}