*{
margin: 0px;
padding: 0px;
}

#gridwrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 500px 400px 400px 400px 400px;
    grid-template-areas: 
    "he"
    "div1"
    "div2"
    "div3"
    "div4"
    "fo"
}

/*header*/
    header{
        grid-area: he;
        background-color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0px;
        z-index: 1;
        height: 100%;
        width: 100%;
    }

    #areas{
    width: 98%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;

    }

/*left_area*/
    #burger div{
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 5px;
        border-radius: 0%;
        transition: all 0.4s;
    }

    #burger {
        margin-right: 50px;
        cursor: pointer;
    }

    .burger_toggle #burger_line_2 {
    opacity: 0;

    }

    .burger_toggle #burger_line_1{
        transform: rotate(-45deg) translate(-5px, 5px);

    }

    .burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -5px);
    }
    
    #left_area{
        width: 35%; 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start; 
    }

    #left_container{  
        position: absolute;
        top: 69px;
        left: -210px;
        background-color: black;
        width: 180px;
        height: 250px;
        display: flex;
        
    }

    #nav-links{
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        width: 100px;
        margin-left: 8px;
    }

    #left_container{
        transition: transform 0.3s;
    }
    .nav_active {
        transform: translateX(209px);
    }

    #nav-links a {
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 0.1875rem;
        color: white;
        font-family: 'Anton', sans-serif;
        font-weight: ;
        text-transform: uppercase;
    }
    #nav-links li {
        list-style: none;
    }
    #nav-links a:hover {
        opacity: 0.5;
        
    }

/*middle_area*/
    #middle_area{
        width: 25%; 
        height: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #brand_name_container{
    }
    
    h1{
        color: white;
        font-size: 28px;
        font-family: 'Anton', sans-serif;
        font-size: bold;
        letter-spacing: 0.05rem;
        font-weight:100;

    }

/*right_area*/
    #right_area{
        width: 35%;
        height: 100%; 
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #interactive-logos-right-area{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70px;
    }

    #interactive-logos-right-area li{
        list-style: none;
    }

    .interactive-logos-right{
        width: 18px;
    }
    #interactive-logos-right-area img:hover {
        opacity: 0.5;
    }

/*header end*/

/*footer*/

    footer{ 
        grid-area: fo;
        background-color: black;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

    }

    #footer_container{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px;
        
        
    }

    .footer_section{
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;.

    }

    .footer_text{
        font-family: 'Anton', sans-serif;        
        font-size: 1.1rem;
        margin: 2px;
        color: white;
    }

    #footer_title{
        color: white;
        font-size: 1.4rem;
        font-family: 'Anton', sans-serif;
        margin-top: ;
        font-weight: bold;
    }

    #footer_bottom_text{
        color:grey;
        font-family: 'Anton', sans-serif;
        font-size: 0.8rem;
    }

    #footer_socialmedia{
        display: flex;
    }

    .footer_socialmedia_logo{
        width: 25px;
        margin-top: 5px;
        margin-right: 10px;
    }

/*footer end*/

/*index*/
/*index_section_1*/
#index_section_1{
    grid-area: div1;
    border: 2px solid black ;
    overflow: hidden;
    
}

#index_section_1_background_image{
    background-image: url(../img/Index_bilder/sko1.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    transition: 0.4s;
}



#index_section_1_background_image:hover{
    transition: 0.4s;
    transform: scale(1.02);
    z-index: 0;
}



/*index_section_2*/
#index_section_2{
    grid-area: div2;
    border: 2px solid black ;
    
}

/*index_section_3*/
#index_section_3{
    grid-area: div3;
    border: 2px solid black ;
}

/*index_section_4*/
#index_section_4{
    grid-area: div4;
    border: 2px solid black ;
}

/* index end */

/* Om Oss */

#gridwrapper2{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 200px 450px 450px 450px 450px;
    grid-template-areas: 
    "he"
    "div1"
    "div2"
   
    "fo";
    place-items: center;
    
}

.om_oss_section{
    width: 90%;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px;
    grid-template-areas:
    "im"
    "te";
    
}

.om_oss_section_text_container{
    grid-area: te;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-top: 10px;
   
}

.om_oss_section_text{
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: ;
}

.om_oss_h2{
    font-family: 'Anton', sans-serif;
    margin-bottom: ;
    font-size: 23px;
}

.om_oss_text{
    font-size: 13px;
}

.om_oss_section_image_container{
    grid-area: im;
    height: ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: ;
    
}

.om_oss_section_image{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    
    object-fit: cover;
    object-position: center;
}

/* om_oss_section_1*/
#om_oss_section_1{
    grid-area: div1;
    border: 1px solid black ;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#om_oss_section_1_background_image{
    background-image: url(../img/om_oss_bilder/wardrobe.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    transition: 0.4s;
}

#om_oss_section_1_background_image:hover{
    transition: 0.4s;
    transform: scale(1.01);
    z-index: 0;
}

/* om_oss_section_1 end*/

/* om_oss_section_2*/

/* om_oss_section_2 end*/

/* om_oss_section_3*/


/* om_oss_section_3 end*/

/* om_oss_section_4*/


/* om_oss_section_4 end*/




/* Om Oss- end */


@media screen and (min-width:900px) { 
  
    #gridwrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 70px 550px 400px 400px 400px 300px;
        grid-template-areas: 
        "he he"
        "div1 div1"
        "div2 div2"
        "div3 div3"
        "div4 div4"
        "fo fo"
    }

/*header*/

/*left_area*/
    
    #burger-container{
        display: none;
    }

    #left_container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 450px;
        position: relative;
        height: 100%;
        top: 0;
        left: 0;
        background-color: 0;
        transform: translateX(0px);
        transition: 0s;
    }

    #nav-links{
        display: flex;
        flex-direction: row;
        justify-content: space-around ;
        width: 100%;
        margin-left: 0px;
    }
    

/*middle_area*/
    #middle_area{
        width: 25%; 
        height: 100%; 
    }
    h1{
        color: white;
        font-size: 35px;
    }

/*right_area*/
    #interactive-logos-right-area{
        width: 150px;
    }

    .interactive-logos-right{
        width: 20px;
    }
    



/*header end*/

/*footer*/

    footer{ 
        justify-content: center;

    }

    #footer_container{
        flex-direction: row;
        margin: 20px;
        justify-content: center;
    }

    .footer_section{
        justify-content: flex-start;
        
    }

    .footer_text{
        font-size: 1.3rem;
    }

    #footer_title{
        font-size: 1.6rem;
    }

    #footer_bottom_text{
        
    }

    #footer_socialmedia{
       
    }

    .footer_socialmedia_logo{
       
    }

/*footer end*/



/* Om Oss */
#gridwrapper2{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 300px 400px 400px 400px 400px;
    grid-template-areas: 
    "he"
    "div1"
    "div2"
    "div3"
    "div4"
    "fo"
}

.om_oss_section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "te im";
}

.om_oss_section_text_container{
    grid-area: te;
    display: flex;
    justify-content: center;
    align-items: center;
}

.om_oss_section_text{
    height: 350px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

.om_oss_h2{
    font-family: 'Anton', sans-serif;
    margin-bottom: 30px;
    font-size: 30px;
}

.om_oss_section_image_container{
    grid-area: im;
    display: flex;
    align-items: center;
    justify-content: center;
}

.om_oss_section_image{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}


}